.send-detail-modal {
    color: #333;
  }
  
  .details-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
    

  }
  .details-table:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
  }
  .details-table td {
    padding: 10px;
    font-size: 14px;
  }
  
  .details-table td[style*="fontWeight: bolder"] {
    font-weight: bold;
    color: #555;
  }
  
  .progress-section {
    margin-top: 20px;
  }
  
  .progress-description {
    font-size: 12px;
    margin-top: 5px;
    color: #666;
  }
  
  .progress-bar {
    background: linear-gradient(to right, #3498db, #8e44ad, #3498db);
    background-size: 200% 100%;
    animation: pulse 6s linear infinite;
  }
  
  @keyframes pulse {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  .professional-print-button {
    width: 2.2rem;
    border-radius: 4px;
    background-color: none;
    color: white;
    padding: 10px 10px;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
  }
  
  .professional-print-button:hover {
    background-color: #333333;
  }
  
  .print-icon:before {
    content: '\1F5B6';  /* Unicode print symbol */
    margin-right: 8px;
  }
  