.pagecontainer {
    background-color: #f0f4f8;
    border-radius: 15px;
    padding: 30px;
  }
  
  .sectioninput {
    background-color: #fafbfc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  }
  .quill-editor-dark .ql-container {
    background-color: #2c2c2c; /* Dark background */
    color: white; /* Light text */
}

.quill-editor-dark .ql-toolbar {
    background-color: #1e1e1e; /* Darker background for the toolbar */
    border-bottom-color: #444; /* Border color */
}

.quill-editor-dark .ql-editor {
    background-color: #2c2c2c; /* Dark background for the editor */
    color: white; /* Light text */
}

  select {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    appearance: none;
    transition: border 0.3s ease;
  }
  
  select:focus {
    border: 1px solid #007bff;
  }
  
  option {
    padding: 5px;
  }
  
  .input-form {
    width: 130%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .inputbox{
    width: 50%;
    height: 50px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10%;
    flex: 1;
    margin-bottom: 5%;
  }
  
  #comments {
    width: 100%;
    height: 150px;
  }
  
  h1 {
    color: #333;
  }
  
  h4 {
    color: #555;
  }
  
  Button {
    background-color: #007bff;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  Button:hover {
    background-color: #0056b3;
  }
  
  Alert {
    border-radius: 5px;
    font-weight: 500;
  }
  