.topbar {
    width: 100%;
    background-color: #0f1131;
    color: white;
    display: flex;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease; /* Include only the background-color property in the transition */
    height: 70px;
}
.signout-btn {
    position: absolute;
    top:20px;
    right: 0;
    margin-right: 10px;  /* Optional - Adds some space to the right of the button */
    background: none;
    color: white;
    border: none;
    transition: all 0.3s ease;
}

.signout-btn:hover{
    opacity: 0.8;
}
.topbar:hover {

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6); 
}

.topbar img {
    margin: 0;
    width: 70px;
    height: 70px;
    margin-left: 40px;
}

.topbar h1 {
    margin: 0;
    font-size: 24px;
    color: #f1f1f1; /* Matching the text color with Sidebar's text color */
    padding-top: 10px;
}

.toggle-btn{
    position: absolute;
    top: 14px;
    left:12px;
}