/* index.css */
.center-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #FFFff8;
}  

.signin-form {
  width: 100%; /* Change width to 100% to occupy the full width of the container */
  max-width: 400px; /* Set a maximum width for the form */
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.signin-form:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.FormGroup {
  margin: 0 auto;
}

.input {
  padding: 15px;
  font-size: 16px;
}

.loginButton {
  background-color: #01CCFF;
  border: none;
}

.loginButton:hover {
  background-color: #01CCFF;
  border: none;
  transition: 0.2s all ease-in-out;
  opacity: 0.8;
}

.logo {
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
  .signin-form {
    max-width: 90%; /* Reduce the max-width for smaller screens */
  }
}
