.error-message {
    color: #D32F2F; 
    background-color: #FFEBEE; 
    border: 1px solid #FFCDD2; 
    padding: 10px 15px; 
    margin-top: 10px; 
    border-radius: 4px;
    font-weight: 500;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    font-size: 0.9em;
    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 0.3s, transform 0.3s; 
    visibility: hidden; 
    display: block; 
}

.error-message.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
