/* Sidebar.css */

.sidebar {
    background-color: #0f1131;
    margin-left: -12px;
    height: 100vh;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.3s; /* Change to width transition */
}
.toggle-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;  /* To align the button with sidebar */
    top: 50px;  /* Position from top */
    left: 10px;  /* Position from left */
}

.hidden {
    display: none;
    transition: display 0.6s;
}

.sidebar.open {
    width: 250px; /* Full width when open */
}

.sidebar.closed {
    width: 80px; /* Reduced width when closed */
}

.sidebar:hover {
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.6); /* Enhanced box shadow on hover for a stronger effect */
}

.user-info {
    text-align: center;
    padding-top: 5%;
    overflow-wrap: break-word; /* Allow the text to wrap within .user-info */
}
.user-info h2 {
    font-size: 28px;
    color: #01CCFF; /* Use a green color for the user's name */
    margin-bottom: 5px; /* Add a small bottom margin to separate name and occupation */
}

.user-info h4 {
    font-size: 20px;
    color: #f1f1f1; /* Use a light gray color for the occupation */
    margin-top: 0; /* Remove default top margin */
}


.nav-link {
    color: white;
    border-bottom: 1px solid #555;
    padding: 10px;
    transition: background-color 0.3s;
    overflow-wrap: break-word; 
    box-sizing: border-box;
}

.nav-link:hover {
    background-color: whitesmoke;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        max-width: 300px;
    }

    .nav-link {
        display: block;
        padding: 10px; /* Adjust the padding to fit the content properly */
        text-align: center;
        border-bottom: 1px solid #555;
        margin-left: -10px; /* Fix the typo by adding "px" to the value */
        max-width: 90%; /* Limit the width of the text container to prevent overflow */
    }
}

.sub-menu {
    padding-left: 20px;
    padding-top: 20px;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.sub-menu .nav-link {
    color: #bbb; /* Different color for sub-items */
}

