/* Sidebar.css */

.sidebar {
    position: fixed; /* This will make the sidebar stay in place even when you scroll the page */
    top: 0; /* Position the sidebar at the very top of the viewport */
    bottom: 0; /* Position the sidebar at the very bottom of the viewport */
    background-color: #0f1131;
    margin-left: -12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.3s; /* Change to width transition */
    flex-grow: 1;
}
.toggle-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;  /* To align the button with sidebar */
    top: 50px;  /* Position from top */
    left: 10px;  /* Position from left */
}

.hidden {
    display: none;
    transition: display 0.6s;
}

.sidebar.open {
    width: 250px; /* Full width when open */
}

.sidebar.closed {
    width: 80px; /* Reduced width when closed */
}

.sidebar:hover {
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.6); 
}

.user-info {
    text-align: center;
    margin-top: -10%;
    overflow-wrap: break-word; 
}
.user-info h2 {
    font-size: 28px;
    color: #01CCFF; 
    margin-bottom: 5px; 
    transition: all 0.5s ease-in-out;
    text-shadow: 2px 2px 4px #555;


}

.user-info h4 {
    font-size: 20px;
    color: #f1f1f1; 
    margin-top: 0; 
    transition: all 0.5s ease-in-out;
    text-shadow: 2px 2px 4px #555;


}


.nav-link {
    color: white;
    border-bottom: 1px solid #555;
    padding: 10px;
    transition: background-color 0.3s;
    overflow-wrap: break-word; 
    box-sizing: border-box;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #01CCFF; /* Change text color on hover */
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        max-width: 300px;
    }

    .nav-link {
        display: block;
        padding: 10px; /* Adjust the padding to fit the content properly */
        text-align: center;
        border-bottom: 1px solid #555;
        margin-left: -10px; /* Fix the typo by adding "px" to the value */
        max-width: 90%; /* Limit the width of the text container to prevent overflow */
    }
}

.sub-menu {
    padding-left: 20px;
    padding-top: 20px;
    transform: translateX(-100%); /* Hide the submenu initially */
    transition: all 0.3s ease-in-out;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.sub-menu .nav-link {
    /* Add a transition effect */
    transition: all 0.3s ease-in-out;
    /* Rest of the styles remain unchanged */
}
.sub-menu .nav-link:hover {
    /* Add hover effect for sub-menu items */
    color: #01CCFF;
    background-color: rgba(255, 255, 255, 0.1);
}

.jiroun-logo{
    margin-top: 40px;
    width: 100px;
    height: 100px;
    transition: all 0.3s ease-in-out;

}
.jiroun-logo:hover {
    /* Scale the logo on hover */
    transform: scale(1.1);
}
.logodiv{
    
    display: flex;
    justify-content: center;
}
.signout-area{
    display: flex;
}

.signout-text{
    color: white;
}
.signout-button{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
.admin-section {
    padding: 15px 20px;
    background-color: rgba(1, 204, 255, 0.1);  
    transition: box-shadow 0.3s ease;  /* Add transition for shadow effect */
}



.admin-header h3 {
    font-size: 24px;
    color: #01CCFF;
    text-shadow: 1px 1px 3px #555;
    margin-bottom: 10px; 
    margin-left: 10px;
}

.admin-divider {
    border: 0;
    height: 1px;
    background: #555;
    margin: 0 10px;
    opacity: 0.6;
}