body{
  background-color: white !important;
}

.pagecontainer, .pagecontainer-closed {
  transform: translateX(-120px); /* Adjust this value as per your requirement */
}

.app-main-content {
  background-color: beige; /* or any color you prefer */
}