@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Helvetica Neue','Open Sans','Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Quicksand',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  height: 100%;
  position: relative; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Heading {
  font-size: 2.4em; 
  color: #333333; 
  text-align: left; 
  font-weight: 500; 
  letter-spacing: 1px; 
  line-height: 1.2; 
  margin: 20px 0; 
  padding-bottom: 10px; 
  font-weight: 900;
}



